.recipePage{
    width: 1240px;
    margin: 50px auto;
}

.title{
    margin-bottom: 37px;
}

.descr{
    width: 100%;
    margin-bottom: 48px;
    padding: 36px;
    padding-bottom: 29px;
    border-radius: 10px;
    background-color: rgba(181, 70, 15, 0.33);
}